*{
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

Header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #171010;
}

.Title {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.Title a {
    text-decoration: none;
    font-size: 25px;
    color: #5c5a59;
    transition: 2s;
}

.Title a:hover {
    color: #171010;
    cursor: pointer;
    text-shadow: 
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
    transition: 2s;
}

.Navigation {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    margin: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #5c5a59;
    transition: 2s;
}

nav a:hover {
    text-shadow: 
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
    color:#5c5a59;
    font-size: 20px;
    text-decoration: underline;
    transition: 2s;
}

nav a:active {
    color: #423F3E;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #5c5a59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Containerforrotationcards {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #423F3E;
    border-radius: 30px;
    box-shadow: 20px 20px 20px #171010;
    transition: 2s;
}

.background:hover {
    transition: 2s;
    box-shadow: 
    0 0 10px white,
    0 0 20px rgb(234, 0, 0),
    0 0 30px white;
}

.background h1 {
    font-size: 100px;
    text-align: center;
}